/*
COMMON
***********************/
html,
body {
  height: 100%;
}

.content {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.content .main-header .logo {
  width: 70px;
}

.content .main-header {
  display: flex;
  justify-content: left;
  align-items: center;
}

.content .main-header h1 {
  color: rgb(53, 171, 218);
  margin-left: 9px;
}

/*
Post
***********************/

.post_form {
  padding: 20px 40px;
  border-bottom: 1px solid #ccc;
}

.post_form input {
  width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.post_form textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
}
.posts ul {
  padding: 0;
}

.posts li {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 20px 40px;
  position: relative;
}

.posts li .menu_icon {
  width: 20px;
  font-size: 20px;
  position: absolute;
  top: 18px;
  right: 30px;
}

.posts li .menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 15px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 3px;
}

.posts li .menu a {
  text-decoration: none;
}

.posts li .logo {
  flex-basis: 15%;
}

.posts li .logo img {
  width: 60%;
}

.posts li .name_body {
  flex-basis: 85%;
}

.posts li .name_body .name {
  font-weight: bold;
}

.posts li .name_body .datetime {
  color: gray;
}

@media screen and (max-width: 500px) {
  .posts li .name_body .name {
    font-size: 20px;
  }
}
#name {
  border: 0;
  border-radius: 10px;
  background-color: #e6fef7;
}
#body {
  border: 0;
}
.buttonarea {
  display: flex;
}
#tweet {
  margin-top: -1px;
  margin-left: 46px;
  padding: 19px;
  border: 0;
  border-radius: 11px;
  background-color: dodgerblue;
  color: white;
}
#cancel {
  border: 0;
  padding: 18px 23px;
  background-color: rgb(73, 73, 73);
  border-radius: 10px;
  color: #ccc;
}
#update {
  border: 0;
}

.name_body .pic img {
  max-width: 370px;
  max-height: 370px;
  border-radius: 15px;
}

@media screen and (max-width: 422px) {
  .name_body .pic img {
    max-width: 260px;
  }
}

@media screen and (max-width: 280px) {
  .name_body .pic img {
    max-width: 200px;
  }

  #tweet {
    margin-top: 5px;
    margin-left: 37px;
    height: 36px;
    padding: 3%;
  }
}

.pic img {
  max-width: 370px;
  max-height: 370px;
  border-radius: 15px;
}

@media screen and (max-width: 422px) {
  .pic img {
    max-width: 260px;
  }
}

@media screen and (max-width: 280px) {
  .pic img {
    max-width: 200px;
  }

  #cancel {
    padding: 11px 7px;
  }
}
