{% extends "base.html" %} {%block content %} {% load static %}

<section class="content">
    <div class="main-header">
    <img src="/static/img/twitter.png" class="logo">
    <h1>Edit</h1>
    </div>
    <section class="post_form">
        <form action="" method="POST" enctype="multipart/form-data"> 
            {% csrf_token %}
            <input type="text" id="name" name="name" value="{{post.name}}" required />
            <input name="body" id="body" value="{{post.body}}" required></input>
            
            <div class="pic">
                <img src="{{ post.image.url }}" style="max-width: 370px; max-height: 370px; border-radius: 15px;">       
                    <input type="file" name="image"></div>
    
          <!--cancel and update-->
    
          <button class="btn" id="cancel" type="submit">Cancel</button>
          <button type="submit" id="tweet" value="Update">Update</button>
         
      
        </form>
    </section>
    {% endblock %}